*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/atmos4.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 100px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgba(9, 224, 188, 0.7);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

text-box h1{
    font-size: 62px;
}

.exclusive {
    color: red;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}

.hero-btn{
    display:inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px  rgba(9, 224, 188, 0.7);
    background: rgba(9, 224, 188, 0.7);
    transition: 1s;
}

/* COLLECTION */

.collection{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: rgb(5, 5, 5);
    flex-wrap: wrap;
    min-width: 620px;
    max-width: 1220px;
    margin: auto;
}

.flex-item {
    height: 300px;
    width: 300px;
    background-color: white;
    margin: 3px;
    align-items: center;
    justify-content: center;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

option{
    font-weight: 600;
}

/* CONTACT US */

.contactus{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/Jordansbanner.webp);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.contactus h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

/* FOOTER */

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer p{
    font-weight: 600;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20;
    font-weight: 600;
}

.icons .fa:nth-child(1){
    color: #4267b2;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.icons .fa:nth-child(2){
    color: #1da1f2;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.icons .fa:nth-child(3){
    color: #e1306c;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}


/* ABOUT US */

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient( rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/atmos3.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.sub-header h1{
    margin-top: 100px;
}

.about-us{
    width: 80%;
    margin: auto;
    text-align: left;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img{
    width: 100%;
}

.about-col h1{
    padding-top: 0;
}

.about-col p{
    padding: 15px 0 25px;
    font-weight: 600;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.jade-btn{
    border: 1px solid rgba(9, 224, 188, 0.7);
    background: transparent;
    color: rgba(9, 224, 188, 0.7);
}

.jade-btn:hover{
    color: white;
}

/* CONTACT US PAGE */

.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.location iframe{
    width: 100%;
}

.contact-us{
    width: 80%;
    margin: auto;
}

.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div{
    display: flex;
    align-items: center ;
    margin-bottom: 40px;
}

.contact-col div .fa{
    font-size: 28px;
    color: rgba(9, 224, 188, 0.7);
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}

.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}

.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
